@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" style="border-color: rgba(255,255,255,0.8); color: rgba(255,255,255,0.9);">
                <i class="bi bi-person-circle"></i>
                @context.User.Identity?.Name
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="Identity/Account/Manage">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex gap-2">
            <a class="btn btn-outline-light" href="Identity/Account/Register" style="border-color: rgba(255,255,255,0.8); color: rgba(255,255,255,0.9);">Register</a>
            <a class="btn btn-light" href="Identity/Account/Login" style="color: #5a5a5a;">Login</a>
        </div>
    </NotAuthorized>
</AuthorizeView>